html,
body {
  height: 100%;
  width: 100%;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to left, #8e0e00, #1f1c18);
  margin: 0;
}
h1 {
  text-align: center;
  background-color: #1f030c;
  color: white;
  padding-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
h2 {
  margin: 0px;
  text-align: center;
  color: #1f030c;
}
p {
  font-size: 1rem;
}
.container {
  height: 600px;
  width: 360px;
  background-color: #f7f7f7;
  position: relative;
  margin-left: 500px;
  margin-top: 10px;
  border-radius: 20px;
}
button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #ad133a;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: white;
}

button:hover {
  background: #4c2827;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 1px;
}

#billamt {
  font-size: 14px;
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
  height: 10px;
}
#peopleAmt {
  font-size: 14px;
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
  height: 10px;
}
#calculator {
  padding: 20px;
}
#serviceQual {
  border-color: #4c2827;
  border-radius: 10px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  left: 125px;
  font-size: 14px;
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
  height: 50px;
}
#result {
  text-align: center;
  font-size: 3rem;
  padding-top: 10px;
}
input {
  height: 40px;
}
